body{
    background-color:cornsilk;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 20px;
    margin: 0;
}

header{
    background-color: #d1ca93;
    color: rgba(0, 7, 35, 1);
    padding: 30px; 
    text-transform: uppercase;
    margin-bottom: 100px;
}

.container {
    width: 80%;
    margin: 5px auto;   
}

ol{
    list-style-type: upper-roman;
}

section{
    float: left;
    width: 70%;
}

aside{
    float: right;
    width: 25%;
}

footer{
    text-align: right;
    clear: both;
    background-color: #d1ca93;
}

.contact-info h4{
    text-transform: uppercase;
    text-decoration: underline 3px;
    text-underline-offset: 3px;
}